// General colors
bodyBackgroundColor: #002f2f
bodyTextColor: #efecca
// Site logo
siteNameColor: #046380
siteSloganColor: #002f2f
siteNameBackgroundColor: #efecca
// Title
titleInviteColor: #e6e2af
titleColor: white
// Sidebar
sidebarTitleColor: #046380
sidebarBackgroundColor: #a7a37e
sidebarTextColor: black
// Current person box
linkActionColor: #046380
currentPersonBackgroundColor: #e6e2af
currentPersonTextColor: #002f2f
// Footer
footerBackgroundColor: #efecca
footerTextColor: #002f2f

html
  :margin 0

body
  :margin 0 auto
  :font 14px/1.5 "Helvetica Nueue", "Lucida Grande", Arial, sans-serif
  :font-size 100%
  :background-color !bodyBackgroundColor
  :color !bodyTextColor

a
  :text-decoration none
  :color !linkActionColor

.container
  :margin 0 auto
  :width 960px
  :padding 0
  :overflow hidden

//// Header ////

.topMargin
  :margin-top 20px

#siteName
  :float right
  :width 321px
  :margin 0
  :padding 0 0 10px 0
  :text-align center
  :font 18px 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif
  :color !siteNameColor
  :background-color !siteNameBackgroundColor
  span
    :color !siteSloganColor
  h1
    :margin 15px
  :-webkit-border-bottom-right-radius 8px
  :-webkit-border-bottom-left-radius 8px
  :-moz-border-radius-bottomright 8px
  :-moz-border-radius-bottomleft 8px
  :border-bottom-right-radius 8px
  :border-bottom-left-radius 8px

#title
  :float left
  :text-align left
  :font-weight normal
  :width 500px
  :margin 15px 0 0 0
  :padding 0
  :text-align left
  span
    :color !titleInviteColor
  h1
    :color !titleColor
    :margin 20px 0 0 20px

//// Main area ////

#leftSide
  :clear both
  :float left
  :width 600px
  :margin 0
  :padding 0
  :text-align left

#sideBar
  :float right
  :width 291px
  :margin 0
  :padding 15px
  :text-align left
  :background-color !sidebarBackgroundColor
  :color !sidebarTextColor
  :border-radius 7px
  :-webkit-border-radius 8px
  :-moz-border-radius 8px
  h2
    :color !sidebarTitleColor

.person
  :margin 10px 0 0 0

#currentPerson
  :margin 0 0 10px 0
  :background-color !currentPersonBackgroundColor
  :color !currentPersonTextColor
  :border 1px black
  :padding 15px

//// Footer ////

#footer
  :font-size: 12px;
  :text-align left
  :font-weight normal
  :padding 15px
  :width 930px
  :margin-top: 
  :text-align left
  :color !footerTextColor
  :background-color !footerBackgroundColor
  :-webkit-border-top-right-radius 8px
  :-webkit-border-top-left-radius 8px
  :-moz-border-radius-topright 8px
  :-moz-border-radius-topleft 8px
  :border-top-right-radius 8px
  :border-top-left-radius 8px
